<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Actual Coronavirus Data</title>
</head>
<body>
<div class="container">

    <h1>Actual Coronavirus cases reported in the world</h1>
    <div class="jumbotron">
        <h2 class="lead">Total cases reported:</h2>
        <h1 class="display-4" th:text="${casesReportedToday}"></h1>
        <hr class="my-4">
        <h2 class="lead">New cases reported since previous day:</h2>
        <h1 class="display-4" th:text="${differenceWithYesterday}"></h1>
    </div>
    <table class="table">
        <tr>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="data: ${locationData}">
            <td th:text="${data.getCountry()}"></td>
            <td th:text="${data.getTotalCases()}">0</td>
            <td th:text="${data.getDifferenceWithYesterday()}">0</td>
        </tr>
    </table>
</div>

</body>
</html>